.root-container {
    -fx-background-color: #1A1A1F;
}

.top-bar {
    -fx-background-color: linear-gradient(to right, #1B1B1F, #202227);
}

.center-panel {
    -fx-background-color: #1A1A1F;
}


.app-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #0A4F8A;
}

.app-title:hover {
    -fx-text-fill: #1261A0;
}

.app-title:pressed {
    -fx-text-fill: #083B66;
}

.user-info-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #F0F0F0;
}

.dashboard-title {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #0A4F8A;
}

.section-subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #F0F0F0;
}

.welcome-label {
    -fx-font-size: 16px;
    -fx-text-fill: #F0F0F0;
}

.page-label {
    -fx-font-size: 15px;
    -fx-text-fill: #E0E0E0;
}


.card-title {
    -fx-font-size: 14px;
    -fx-text-fill: #F0F0F0;
}

.card-value {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #0A4F8A;
}

.panel-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #F0F0F0;
}

.panel-text {
    -fx-font-size: 14px;
    -fx-text-fill: #E0E0E0;
}


.login-card {
    -fx-background-color: #202027;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: #2E2E35;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 20, 0.3, 0, 5);
}


.dashboard-card {
    -fx-background-color: #111827;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-border-color: #2A2F3A;
    -fx-border-radius: 10;
}

.info-box {
    -fx-background-color: #111827;
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-border-color: #2A2F3A;
    -fx-border-radius: 10;
}


.text-field,
.password-field {
    -fx-background-color: #2A2A2F;
    -fx-text-fill: #F0F0F0;
    -fx-prompt-text-fill: #9A9A9A;
    -fx-background-radius: 10;
    -fx-border-color: #3C6382;
    -fx-border-radius: 10;
    -fx-border-width: 1.2;
}


.primary-button {
    -fx-background-color: #0A4F8A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-background-color: #1261A0;
}

.menu-button {
    -fx-background-color: #0A4F8A;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.menu-button:hover {
    -fx-background-color: #1261A0;
}

.menu-button-active {
    -fx-background-color: #06365E;
    -fx-text-fill: white;
}

.menu-button-active:hover {
    -fx-background-color: #08497F;
}

.quick-action-button {
    -fx-background-color: #0A4F8A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.quick-action-button:hover {
    -fx-background-color: #1261A0;
}


.logout-button {
    -fx-background-color: #BA0000;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.logout-button:hover {
    -fx-background-color: #D94A47;
}


.error-label {
    -fx-text-fill: #FF7B7B;
    -fx-font-size: 13px;
}